body {
    margin: 0;
    padding: 0;
    background-color: #E8E8E9;
}
/* contaner will contain main info about users and their repos */
.container {
    position: relative;
    background-color: white;
    border-radius: 8px;
    width: 500px;
    top: 10%;
    left: 32.1%;
    padding: 40px;
    box-shadow: 8px 9px 25px 0px rgba(0,0,0,0.75);
    font-family: 'Open Sans', sans-serif;
    
}
.search-box {
    display: flex;
    flex-direction: row;

}
.search {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn-search {
    border: none;
    height: 41px;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 0 20px;
}
.btn-search:hover {
    cursor: pointer;
    opacity: 0.8;
}
.btn1 {
    border-radius: 4px;
    border: solid 1px grey;

}
/* none is a default class setted to hide element before searhcing */
.none {
    display: none;
}
/* user info */
.info-container{
    margin-top: 20px;
}
.user-info {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100px;

}
.user-details {
    margin-left: 20px;
}
.user-details h1 {
    padding: 0 !important;
    margin-block-start: 7px;
    margin-block-end: 7px;
}
.user-details p {
    margin-block-start: 0px !important;
    margin-block-end: 0 !important;
}
.img-profile {
    margin-left: 17px;
    width: 100px;
    height: 100px;
    border-radius: 2px;
}
/* repos info */
.display-info {
    left: 17px !important;

}
.hr{
    margin-left: 17px;
    border: solid 2px;
    color: grey;
}
.repos {
    height: 250px;
    overflow-x: auto;
}
.repos-info{
    margin-left: 17px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items:center; 
    height: 10px;
    padding: 20px;
    border-bottom: solid 1px grey;
}
.repo-name {
    width: 100%;
    font-weight: bold;
}
.star {
    width: 17px;
    height: 15px;
    padding: 0 2px;
}
.count-star{
    padding-right: 5px;
}
.container-error{
    width: 97.5%;
    height: 30px;
    background-color: rgba(207, 106, 107, 0.5);
    margin-left: 17px;
    border-radius: 3px;

}
.err-msg {
    padding: 4px;
    font-weight: bold;
    color: rgba(12, 0, 1, 0.5);
    
}
@media screen and (max-width: 1500px) {
    .container {
        position: relative;
        background-color: white;
        border-radius: 8px;
        width: 400px;
        top: 10%;
        left: 31.8%;
        padding: 40px;
        box-shadow: 8px 9px 25px 0px rgba(0,0,0,0.75);
        
    }
    .repos {
        height: 190px;
        overflow-x: auto;
    }
  }